@import '../../../../public/scss/00-base/variables';
@import '../../../../public/scss/00-base/base';
@import '../../../../public/scss/00-base/typograghy';

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 80px;
  }
